extends layout

block content
  h1= title
  p Welcome to #{title}
  #main.panel.panel-default
    .panel-heading
      h1
        a(href='/test') heading
    .panel-body
      span don't mess with texas
    
 
